<ion-view view-title="Proximiio">
  <ion-content class="padding">
    <button class="button button-full button-positive" ng-click="test()">Proximiio Prueba</button>
    <div class="list card">
      <div class="item item-divider">Current geofence</div>
      <div class="item item-body">
        <div>
          <strong><pre>{{inputObject}}</pre></strong>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Output</div>
      <div class="item item-body">
        <pre>{{output}}</pre>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Position</div>
      <div class="item item-body">
        <div>
          latitude: <strong>{{lastPositionLatitude}}</strong> <br/>
          longitude: <strong>{{lastPositionLongitude}}</strong>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        {{textoo}}
      </div>
    </div>
  </ion-content>
</ion-view>
