<ion-view>
  <ion-content padding="true" scroll="false" style="background-color: black;">
    <img class="full-image" src="img/ucansee_logo.png">
    <button class="button button-block button-stable" ng-click="register()">
      <b>{{'_REGISTER' | translate}}</b>
    </button>
    <button class="button button-block button-energized" ng-click="login()">
      <span style="color:black">
        <b>{{'_SIGN_IN' | translate}}</b>
      </span>
    </button>
    <div style="text-align: center;">
      <button class="button button-clear button-small button-light" ng-click="changeLanguage('en')">English</button>
      <button class="button button-clear button-small button-light" ng-click="changeLanguage('es')">Español</button>
    </div>
  </ion-content>
</ion-view>
