<ion-view>
  <ion-nav-title>
    <span style="color:black">uCanSee!</span>
  </ion-nav-title>
  <ion-content padding="true" scroll="false">
    <img class="full-image" src="img/cetys_logo_white.jpg">
    <div class="card">
      <div class="item item-text-wrap">
        <button class="button button-block button-balanced" ng-click="login()">SIGN IN</button>
        <button class="button button-block button-dark" ng-click="register()">REGISTER</button>
      </div>
    </div>
  </ion-content>
</ion-view>
