<ion-view>
  <ion-nav-title>
    <span style="color:black">SIGN IN</span>
  </ion-nav-title>
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        Select your Team
      </div>
      <ion-radio ng-repeat="Team in uCanSee.teams" ng-value="$index" ng-model="userData.index">{{Team.name}}</ion-radio>
      <div class="item item-divider">
        Enter your Team Password
      </div>
      <label class="item item-input">
        <input type="password" style="text-align:center;" placeholder="Provided by uCanSee Staff" ng-model="userData.password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-balanced" ng-disabled="userData.index == null || !userData.password"ng-click="signIn(userData)">SIGN IN NOW!</button>
    </div>
  </ion-content>
</ion-view>
