<ion-view view-title="SIGN IN">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        Select yout Team
      </div>
      <ion-radio ng-repeat="item in clientSideList" ng-value="item.value" ng-model="data.clientSide">{{item.text}}</ion-radio>
      <div class="item item-divider">
        Enter your Team Password
      </div>
      <label class="item item-input">
         <input type="password" placeholder="Provided by uCanSee Staff">
       </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="signIn(user)">SIGN IN NOW!</button>
    </div>
  </ion-content>
</ion-view>
