<ion-view view-title="Register">
  <ion-nav-title>
    <span style="color:black">Register</span>
  </ion-nav-title>
  <ion-content padding="true" align="justify">
    <div class="card">
      <div class="item item-divider">{{uCanSee.register[0].title}}</div>
      <div class="item item-text-wrap">{{uCanSee.register[0].description}}</div>
    </div>
    <div class="card">
      <div class="item item-divider">{{uCanSee.register[1].title}}</div>
      <div class="item item-text-wrap">{{uCanSee.register[1].description}}</div>
    </div>
    <div class="card">
      <div class="item item-divider">{{uCanSee.register[2].title}}</div>
      <div class="item item-text-wrap">{{uCanSee.register[2].description}}</div>
    </div>
    <div class="card">
      <div class="item item-divider">{{uCanSee.register[3].title}}</div>
      <div class="item item-text-wrap">{{uCanSee.register[3].description}}</div>
    </div>
    <div class="card">
      <div class="item item-divider">{{uCanSee.register[4].title}}</div>
      <div class="item item-text-wrap">{{uCanSee.register[4].description}}</div>
    </div>
  </ion-content>
</ion-view>
