<ion-view view-title="Register">
  <ion-nav-title>
    <span style="color:black">{{'_REGISTER' | translate}}</span>
  </ion-nav-title>
  <ion-content padding="true" align="justify">
    <div class="card">
      <div class="item item-divider">{{'_REGISTER_2' | translate}}</div>
      <div class="item item-text-wrap">
        {{'_REGISTER_INFO_1' | translate}}
        <br><br>
        -{{'_REGISTER_INFO_2' | translate}}
        <br>
        -{{'_REGISTER_INFO_3' | translate}}
        <br><br>
        {{'_REGISTER_INFO_4' | translate}}
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">{{'_RULES' | translate}}</div>
      <div class="item item-text-wrap">{{'_RULES_INFO_1' | translate}}</div>
    </div>
    <div class="card">
      <div class="item item-divider">{{'_SPONSORS' | translate}}</div>
      <div class="item item-text-wrap">{{'_SPONSORS_INFO_1' | translate}}</div>
    </div>
    <div class="card">
      <div class="item item-divider">{{'_HELP' | translate}}</div>
      <div class="item item-text-wrap">{{'_HELP_INFO_1' | translate}}</div>
    </div>
    <div class="card">
      <div class="item item-divider">{{'_CREDITS' | translate}}</div>
      <div class="item item-text-wrap">{{'_CREDITS_INFO_1' | translate}}</div>
    </div>
  </ion-content>
</ion-view>
