<div class="card cardCustom">
  <div class="cardLocked" ng-show="info.locked">
    <div class="cardLockedContent">
      <i class="icon ion-locked"></i>
      <button class="button button-block button-balanced" ng-hide="" ng-click="goToLocationTab()">{{'_FIND_ME' | translate}}</button>
    </div>
  </div>
  <div class="item item-text-wrap cardUnLocked" ng-hide="info.locked" align="justify">
    <h1>{{'_CHALLENGE' | translate}} {{info.id + 1}} <a href="" ng-click="scanCodeSim()">Sim</a></h1>
    <ng-map class="cardMap" center="{{info.position}}" zoom="18" disable-default-u-i="true" scrollwheel="false" draggable="false">
      <marker position="{{location.coordinates}}"></marker>
      <marker position="{{info.position}}" icon="img/beachflag.png"></marker>
      <shape name="circle" stroke-color="#000000" stroke-opacity="0.5" stroke-weight="2" fill-color="#cccc00" fill-opacity="0.3" center="{{info.position}}" radius="{{info.radius}}"></shape>
    </ng-map>
    <div class="row">
      <div class="col">
        <button class="button button-block button-positive" ng-click="openModal()">{{'_INFORMATION' | translate}}</button>
      </div>
      <div class="col" ng-switch="info.done">
        <button class="button button-block button-balanced" ng-switch-when="false" ng-click="scanCode()">{{'_SCAN_QR' | translate}}</button>
        <button class="button button-block button-balanced" ng-switch-when="true" ng-disabled="info.done">
          <span style="color: black;">{{'_COMPLETED' | translate}}</span>
        </button>
      </div>
    </div>
  </div>
</div>
