<div class="card cardCustom">
  <div class="cardLocked" ng-show="info.locked">
    <div class="cardLockedContent">
      <i class="icon ion-locked"></i>
    </div>
  </div>
  <div class="item item-text-wrap cardUnLocked" ng-hide="info.locked" align="justify">
    <h1>{{'_CHALLENGE' | translate}} {{info.id + 1}}</h1>
    <ng-map class="cardMap" center="{{info.position}}" zoom="18" disable-default-u-i="true" scrollwheel="false" draggable="false">
      <marker position="{{info.position}}" icon="img/beachflag.png"></marker>
      <marker position="{{info.position}}"></marker>
      <shape name="circle" stroke-color="#000000" stroke-opacity="0.5" stroke-weight="2" fill-color="#cccc00" fill-opacity="0.3" center="{{info.position}}" radius="{{info.radius}}"></shape>
    </ng-map>
    <button class="button button-block button-positive" ng-click="">{{'_INFORMATION' | translate}}</button>
  </div>
  <!--
  <div class="item item-text-wrap" ng-hide="info.locked" align="justify">
  <h1>{{'_CHALLENGE' | translate}} {{info.id + 1}}</h1>
  {{info.name | translate}}
  <img class="full-image" ng-src="img/challenges/{{info.img}}" style="height: 120px;">
  <ng-map class="cardMap" center="{{info.position}}" zoom="18" disable-default-u-i="true" scrollwheel="false" draggable="false">
  <marker position="{{info.position}}" icon="img/beachflag.png"></marker>
  <shape name="circle" stroke-color="#000000" stroke-opacity="0.5" stroke-weight="2" fill-color="#cccc00" fill-opacity="0.3" center="{{info.position}}" radius="{{info.radius}}"></shape>
</ng-map>
<button class="button button-block button-positive">Scan Code</button>
{{info.description | translate}}
</div>
<div class="cardHolder">
<button class="button button-block button-positive cardButton">{{'_INFORMATION' | translate}}</button>
</div>
-->
</div>
