<div class="card cardCustom">
  <div class="cardLocked" ng-show="info.locked">
    <div class="cardLockedContent">
      <i class="icon ion-locked"></i>
    </div>
  </div>
  <div class="item item-text-wrap" ng-hide="info.locked" align="justify">
    <h1>{{info.name}}</h1>
    <img class="full-image" ng-src="img/challenges/{{info.img}}" style="height: 120px;">
    <ng-map center="{{info.position}}" zoom="19" disable-default-u-i="true">
      <marker position="{{info.position}}" title="My Position"></marker>
    </ng-map>
    <button class="button button-block button-positive">
      Scan Code
    </button>
    {{info.description}}
  </div>
</div>
