<ion-view>
  <ion-nav-title>
    <span style="color:black">Location</span>
  </ion-nav-title>
  <div class="bar bar-subheader bar-dark">
    <h2 class="title">Lat: {{myPosition[0]}}, Lon: {{myPosition[1]}}</h2>
  </div>
  <ion-nav-buttons side="secondary">
    <button class="button button-icon ion-navigate" ng-click="findMe()"></button>
  </ion-nav-buttons>
  <ion-content class="padding" padding="false" scroll="false" has-subheader="true">
    <ng-map center="{{myPosition}}" zoom="17" disable-default-u-i="true" zoom-control="true">
      <marker position="{{myPosition}}" title="My Position"></marker>
    </ng-map>
  </ion-content>
</ion-view>
