<ion-view>
  <ion-nav-title>
    <span style="color:black">{{'_CHALLENGE' | translate}}</span>
  </ion-nav-title>
  <ion-content scroll="false">
    <ion-slide-box>
      <ion-slide>
        <div class="card cardCustom">
          <div class="centerFace" style="text-align: center;">
            <i class="ion-happy-outline" style="font-size: 250px;"></i>
            <h1>{{'_SWIPE_TG_STARTED' | translate}}</h1>
          </div>
        </div>
      </ion-slide>
      <ion-slide ng-repeat="Task in Challenges">
        <challenge-card info="Task" location="myPosition"></challenge-card>
      </ion-slide>
      <ion-slide>
        <div class="card cardCustom">
          <div class="centerFace" style="text-align: center;">
            <i class="ion-ribbon-a" style="font-size: 200px;"></i>
            <h2>{{'_GO_TO_START' | translate}}</h2>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
