<ion-view>
  <ion-nav-title>
    <span style="color:black">Proximiio</span>
  </ion-nav-title>
  <ion-content class="padding">
    <button class="button button-full button-balanced" ng-click="Login()">Login</button>
    <button class="button button-full button-balanced" ng-click="Registration()">Register</button>
    <button class="button button-full button-calm" ng-click="Analytics_Overview()">Analytics Overview</button>
    <button class="button button-full button-calm" ng-click="Analytics_Visitor()">Analytics Visitor</button>
    <button class="button button-full button-calm" ng-click="Geofences_All()">Geofences All</button>
    <button class="button button-full button-calm" ng-click="Geofences_Specific()">Geofences Specific</button>
    <button class="button button-full button-balanced" ng-click="Geofences_Create()">Geofences Create</button>
    <button class="button button-full button-energized" ng-click="Geofences_Update()">Geofences Update</button>
    <div class="card">
      <div class="item item-text-wrap">
        {{text_test}}
      </div>
    </div>
  </ion-content>
</ion-view>
