<ion-view>
  <ion-nav-title>
    <span style="color:black">{{'_LOCATION' | translate}}</span>
  </ion-nav-title>
  <div class="bar bar-subheader bar-dark">
    <h2 class="title">Lat: {{myPosition.coordinates[0]}}, Lon: {{myPosition.coordinates[1]}}</h2>
  </div>
  <ion-content class="padding" padding="false" scroll="false" has-subheader="true">
    <div class="locator">
      <div class="locatorContent">
        <ion-spinner icon="ripple" class="spinner-positive"></ion-spinner>
      </div>
    </div>
    <ng-map class="locationMap" center="{{myPosition.coordinates}}" zoom="17" disable-default-u-i="true" zoom-control="true">
      <marker position="{{myPosition.coordinates}}" title="My Position"></marker>
      <marker ng-repeat="Challenge in Challenges" ng-if="Challenge.locked == false" position="{{Challenge.position}}" icon="img/beachflag.png"></marker>
      <shape ng-repeat="Challenge in Challenges" ng-if="Challenge.locked == false" name="circle" stroke-color="#000000" stroke-opacity="0.5" stroke-weight="2" fill-color="#cccc00" fill-opacity="0.3" center="{{Challenge.position}}" radius="{{Challenge.radius}}"></shape>
    </ng-map>
  </ion-content>
</ion-view>
