<ion-view>
  <ion-nav-title>
    <span style="color:black">Dashboard</span>
  </ion-nav-title>
  <ion-content padding="true">
    <div class="card">
      <div class="item item-divider">
        Team:
      </div>
      <div class="item item-text-wrap">
        <h1>{{uCanSee.teams[0].name}}</h1>
      </div>
    </div>
    <div class="list">
      <div class="item item-divider">
        Team Members:
      </div>
      <div class="item" ng-repeat="member in uCanSee.teams[0].members">
        {{member.id}} - {{member.name}}
      </div>
    </div>
  </ion-content>
</ion-view>
