<ion-tabs class="tabs-icon-top tabs-dark tabs-color-energized">
  <ion-tab title="{{'_DASHBOARD' | translate}}" icon-off="ion-earth" icon-on="ion-earth" href="#/tab/dashboard">
    <ion-nav-view name="tab-dashboard"></ion-nav-view>
  </ion-tab>
  <ion-tab title="{{'_CHALLENGE' | translate}}" icon-off="ion-beer" icon-on="ion-beer" href="#/tab/challenge">
    <ion-nav-view name="tab-challenge"></ion-nav-view>
  </ion-tab>
  <ion-tab title="{{'_LOCATION' | translate}}" icon-off="ion-location" icon-on="ion-location" href="#/tab/location">
    <ion-nav-view name="tab-location"></ion-nav-view>
  </ion-tab>
</ion-tabs>
